/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.section {
  padding: 72px 0;
}

.heroBanner {
  padding: 1rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 3px;

}

.announcement {
  font-weight: bold;
  font-size: 24px;
  padding: 48px;
  margin: 0 auto;
  text-align: center;
}

.announcement2 {
  font-weight: bold;
  font-size: 24px;
  padding: 0px;
  margin: 0 auto;
  text-align: center;
}

.announcementDark {
  background-color: #000000;
  color: #fff;
  /* Reapply the primary color, because it has been locally overridden as
   * the dark theme color */
  --ifm-link-color: var(--ifm-color-primary);
}

.announcementLight {
  background-color: #ffffff;
  color: #000000;
  /* Reapply the primary color, because it has been locally overridden as
   * the dark theme color */
  --ifm-link-color: var(--ifm-color-secondary);
}

.announcementInner {
  margin: 0 auto;
  max-width: 768px;
}

.gifContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gifLeft, .gifRight {
  width: 20%; /* Adjust the width as a percentage of the parent container */
  margin: 0 5px; /* Adjust the margin as needed */
}

.centerImageContainer {
  display: inline-block;
  max-width: 70%; /* Adjust the max-width as needed */
  text-align: center;
}

.centerImage {
  width: 100%; /* Ensure image takes the full width of the container */
  height: auto; /* Maintain aspect ratio */
}

/* Adjustments for smaller screens (e.g., mobile devices) */
@media (max-width: 768px) {
  .gifLeft, .gifRight {
    width: 30%; /* Adjust the width for smaller screens */
  }
}
